body {
    background-color: aliceblue;
}

.awein{
    background-color: aqua;
}
#para2{
    background-color: brown;
    border: 4px solid black;
    margin: 20px;
    padding: 20px;
}

#para3{
    background-color: brown;
}

.main{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one{
    background-color: brown;
    margin: 20px;
    padding: 30px;
    /* display: flex;
    align-items: center; */
}

.two{
    background-color: green;
    margin: 20px;
    padding: 30px;
}