@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }


.container{

    /* background-color: brown; */
    display: flex;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

#tab_text1{
    background-color: darkgray;
    width: 20%;
    
    margin: 20px;
    padding: 20px;
    margin-left: 120px;
    border: 1px solid black;
   
}

#tab_text2{
    background-color: darkgray;
    width: 20%;
    
    margin: 20px;
    padding: 20px;
    margin-left: 120px;
    border: 1px solid black;
   
}

#tab_text3{
    background-color: darkgray;
    width: 20%;
    
    margin: 20px;
    padding: 20px;
    margin-left: 120px;
    border: 1px solid black;
   
}